<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion d'immeubles</title>
    <link rel="stylesheet" href="main.css">
    <!-- box icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <%- include('sidebar') %>
    <section class="home_section" id="content-section">
      <%- include('topbar') %>
      <%- include('cardboxes') %>
      <div class="details">
        <%- include('recentpayments') %>
        <%- include('newcustomers') %>
      </div>
    </section>

    <script src="endpoints.js"></script>
    <script src="renewAccessToken.js"></script>
    <script src="cookies_engine.js"></script>
    <script src="variablesState.js"></script>
    <script src="getrecenttenants.js"></script>
    <script src="createPropertyRequest.js"></script>
    <script src="getPropertiesRequest.js"></script>
    <script src="createTenant.js"></script>
    <script src="getTenantProperty.js"></script>
    <script src="getalltenants.js"></script>

    <script src="front_part_changer.js"></script>
  </body>
</html>
